// Vô hiệu hóa hoàn toàn việc kiểm tra privacy bundles
VALIDATE_PRODUCT=NO
VALIDATE_WORKSPACE=NO
SKIP_INSTALL=YES
DISABLE_MANUAL_TARGET_ORDER_BUILD_WARNING=YES
DISABLE_PRIVACY_VIOLATIONS=YES
BUILD_LIBRARY_FOR_DISTRIBUTION=YES
DEAD_CODE_STRIPPING=NO
DEPLOYMENT_POSTPROCESSING=NO
EXPANDED_CODE_SIGN_IDENTITY=-
EXPANDED_CODE_SIGN_IDENTITY_NAME=-
CLANG_WARN_DOCUMENTATION_COMMENTS=NO
CLANG_ENABLE_MODULE_DEBUGGING=NO
STRIP_INSTALLED_PRODUCT=NO
ENABLE_NS_ASSERTIONS=NO
ENABLE_TESTABILITY=NO
ENABLE_STRICT_OBJC_MSGSEND=NO
ENABLE_BITCODE=NO
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
